* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align:left;
}

li {
  list-style: none;
  padding-left: 8px;
  margin-bottom: 6px;
  list-style: circle inside none;
}


footer {
  bottom: 0;
  width: 100%;
  color: white;
  position: fixed;
  overflow: hidden;
  text-align: center;
  background-color: #333;
}

.footer-left,
.footer-center,
.footer-right {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.footer ul a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  background-color: #ddd;
  color: black;
}


@media screen and (max-width: 500px) {

  .footer-left,
  .footer-center,
  .footer-right {
    display: inherit;
    vertical-align: top;
  }

  .footer {
    display: block;
    float: left;
    text-align: left;
  }

}
