<!-- TODO: make the footer a 3 column responsive layout -->
<footer>
    <div class="footer-left">
    <h2>About</h2>
    <ul>
      <li><a href="#">Learn More</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
  <div class="footer-center">
    <h2 class="ft-title">Resources</h2>
    <ul>
      <li><a href="#">Docs</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <h2>Contact</h2>
    <ul>
      <li><a href="#">Help</a></li>
      <li><a href="#">Sales</a></li>
    </ul>
  </div>
</footer>
