<!-- TODO: make the header a responsive navigation menu with responsive layout -->
<!-- Create a link to the people component/page -->
<header class="header">
  <div id="header-right">
    <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a [routerLink]="['/people']" routerLinkActive="active">People</a>
    <a href="#">About</a>
    <a href="#">Blog</a>
    <a href="#">Contact</a>
  </div>
  <div id="hamburger"  width="50px" height="50px" (click)="menu($event)">
    <label for="hamburger" >&#9776;</label>
  </div>
</header>
