<p>People Component</p>
TODO: Show all people on this screen
  TODO Implement a person-component that displays the details of a person.
Add a way to select and then edit a individual person.  There should be options to save and cancel the edit.  Cancelling an edit will result in no changes being made to the selected person.

<hr/>
<h2> List of Users </h2>
<div>

  <table id="person">
    <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr>
  
    <tr *ngFor="let row of group">
      <td *ngFor="let column of headers">
        {{row[column]}}
      </td>
    </tr>
  </table>
    
</div>
