#person {
  border-collapse: collapse;
  width: 100%;
}

#person td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#person tr:nth-child(even) {
  background-color: #f2f2f2;
}

#person tr:hover {
  background-color: #ddd;
}

#person th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: dodgerblue;
  color: white;
}
