<!-- TODO center text horizontally and vertically and style color white -->
<section>
  <div>
    <h1>LandGate Test</h1>
  </div>

  <h2 style="text-align:center; color: white; font-size: 25px;">User Profile Card</h2>

  <div class="card">
    <img src="https://www.monster.com/services/profile/picture.ashx?type=large&doc=4da59c6c-74b6-495f-b809-d0af4ae1e9f7"
      alt="Ramon">
    <h1>Ramon J. Yniguez</h1>
    <p class="title">🔥 Software Developer 👨🏽‍💻 📓 Computer Scientist 👨🏽‍🔬 Machine Learning Engineer 🤖 |
      Researcher
      | Author | Entrepreneur 📣 AND 🇮🇱 🇵🇷 Pride!</p>
    <p>Colorado Technical University</p>
    <div style="margin: 24px 0;">
      <a href="https://twitter.com/Real1UpKID"><i class="fa fa-twitter"></i></a>
      <a href="https://linkedin.com/in/dryniguez"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.facebook.com/Real1UpKID/"><i class="fa fa-facebook"></i></a>
    </div>
    <button><a href="mailto:jryniguez@gmailcom">Contact Me</a></button>
  </div>
</section>
