section {
  background-image: url("/assets/images/hero-bg.jpg");
  width: auto;
  height: 300px;

  div {
    text-align: center;
    color: white;
    margin: auto;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: black;
  font-size: 15px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: dodgerblue;
}

button:hover,
a:hover {
  opacity: 0.7;
}
